.deposit-body{
    margin: 0 auto;
    width: 80%;
// background-color: green;
}

.deposit-balance{
    text-align: center;
    padding-top: 80px;
}

.deposit-menu-tabs{
    margin: 0 auto;
    width: 80%;
    // background-color: red;
    height: auto;
}

.deposit-menu-tabs::before{
    content: 'Select mode of deposit';
}

.mat-tab-group {
  margin-bottom: 48px;
}

.mobile-grid{
    width: 100%;
    margin: 0 auto;
    display: grid;
     grid-template-columns: 1fr 1fr;
     padding: 5px;
     
}

.mobile-img{
    width: 190px;
    height: 80px;
}

