.body{
    background: #F8F9FA;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    
}

.investmentSummary{
    height: 80px;
    width: 100%;
    padding:24px;
    margin-bottom: 45px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content:  space-evenly;
    align-items: left;
    box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.25);

}

.balance-bookValue-totalEarning{
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.upTab-data{
    font-size: 18px;
    color:#7c7c7c;
}

.myInvestment-noFund{
    height:300px ;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.25);
    background: #fff;
}

h1{ 
    font-size: 23px;
    text-decoration: underline #40D74F;
     
}

.no-fund-box{
    height: 100px;
    width: 100%;
    margin-top: 40px;
    background:#3167FF ;
    border-radius: 10px;
    
}

.no-fund-boxAlert{
    color: white;
}
