*{
  // outline: 1px dotted red;
  margin: 0 ;
  padding: 0;
}

.body{
 background-color: #F8F9FA; 
 margin: 0;
}

.projectspecific-body-grid{
    display: grid;
    margin: 0 auto;
    grid-template-columns:3fr 1fr;
    width: 80%;
    padding: 10px;
    
}

// left hand side of the body
.left-projectspecific{
  height: auto;
  width: 100%;
}

.mat-tab-group {
  margin-bottom: 48px;
}

h3{
font-size: 25px;
font-weight: 10px;
padding-top: 15px;
padding-bottom: 15px;
}


// right hand side of the body
.right-projectspecific{
  height: auto;
  width: 100%;
}

.assurance-note{
  height:90px;
  width: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: static;

}

.square-icon{
  height: 100%;
  width: 100%;  
  margin: 0;
  padding-top: 5px;
  background-color: #fff;
  padding-right:5px ;
  padding-left: 5px;
 
}

.guarantee-content{
  height: 100%;
  width: 100%;
  margin: 0;
  background: #fff;
  line-height: 1rem;

}

.guarantee-content h2{
  margin: 0;
  padding: 0;
}

.guarantee-content p{
  margin: 0;
  padding: 0;
}



.projectspecific-investing-tab{
    height: 300px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 48px;
    background: #fff;
   padding: 10px;
}




