* { outline: 1px dotted red } 

*{
    padding: 0px;
}
.category-header{
    margin: 0 auto 10px;   
    width: 80%;
}
.concerned-category{
    font-family: roboto;
    text-align: justify; 
}

.container-project-body{
margin: 0 auto 10px;   
width: 80%;
display:grid;
grid-template-columns:1fr 1fr 1fr;



}

.container-fluid{
// height:343px;
// width:395px ;
width: 350px;
display:grid;
padding:0px 0px;

}




.project-image{
// height: 171.5px;
width:100%;
background-repeat:no-repeat;

}

.container-title-budget{
    // height:68.6px;
    width: 100%;
    
  
}

.container-title{
    // height:50%;
    width:100% ;
    // text-align: justify;
    // background-color: red;
    margin: 0;
 
}

.project-title{
    margin: 0;
}
.container-budget{
   
    width: 100%;
    margin: 0;
    // height: 50%;
    // background-color: blue;
}


.container-prog-perc{
    // height:68.6px ;
    width:100%;
    
}

.container-progress-bar{
    // height:60% ;
    width:100%;
    // padding: 50px;
  
}

.percentage-details{
    // height: 40%;
    width: 100%;
    // background-color: red;
    height: 15px;
    padding: 0px;
    
}

.view-project{
    // height: 34.3px;
    width: 100%;
    text-align: center;
    height: 34.3px;
    padding-top: 10px;
   
   
}


